<form action="/suggestions/save" method="post">
    <ul>
        <li>
            <label for="Title">Tittel</label>
            <input type="text" name="Title" />
        </li>
        <li>
            <label for="Name">Navn</label>
            <input type="text" name="Name" />
        </li>
        <li>
            <label for="Team">Team</label>
            <input type="text" name="Team" />
        </li>
        <li>
            <label for="Description">Beskrivelse</label>
            <input type="text" name="Description" />
        </li>
        <li>
            <label for="TimeStamp">Tidspunkt</label>
            <input type="datetime" name="TimeStamp" />
        </li>
        <li>
            <input type="submit" value="Lagre" />
        </li>
    </ul>
</form> 