<form action="/suggestions/save" method="post">
    <ul>
        <li>
            <label for="Title">Tittel</label>
            <input type="text" name="Title" />
        </li>
        <li>
            <label for="Name">Navn</label>
            <input type="text" name="Name" />
        </li>
        <li>
            <label for="Description">Beskrivelse</label>
            <input type="text" name="Description" />
        </li>
        <li>
            <label for="Team">Team</label>
            <select name=Team id=Team>
                <option value="Salg og marked">Salg og marked</option>
                <option value="Produksjon">Produksjon</option>
                <option value="Teknisk">Teknisk</option>
                <option value="Logistikk">Logistikk</option> 
        </li>
    </ul>
    <input type="submit" value="Lagre" />
</form> 