@{
    ViewData["Title"] = "Home Page";
}

@model bacit_dotnet.MVC.Models.RazorViewModel
<h2>Et av de store spørsmålene vi må klare å svare på er, 
    hvor lang tid tar det å gå til ørsta rådhus?  </h2>
@{
    
    <h1>@Model.Content</h1>
}

