@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="css/servicebutton.css">

@model bacit_dotnet.MVC.Models.RazorViewModel
<h1>Velkommen!</h1>
@{
    
    <h1>@Model.Content</h1>
    <h2>@Model.AdditionalData</h2>
}

<!--
<button onclick="window.location.href='side2.html'">Serviceordre</button>
-->
<a class="nav-link servicebutton btn-default" asp-area="" asp-controller="ServiceForm" asp-action="Index">Ny serviceorder</a>