@using bacit_dotnet.MVC.Entities
@using bacit_dotnet.MVC.Models;
@model bacit_dotnet.MVC.Models.EmployeeViewModel
<h1>HEI OG VELKOMMEN TIL VÅRT GRUPPEPROSJEKT I IS-202</h1>

@foreach(EmployeeEntity emp in Model.employees){
    <h1>@emp.name</h1>
}
