@model bacit_dotnet.MVC.Models.UsersModel
<h1>
   Ansattliste
</h1>

<ul>
    @foreach (var user in Model.Users)
    {
        <li>
            Navn: @user.Name , epost: @user.Email, Tlf: @user.Phone, ID: @user.Id,
        </li>
    }
</ul>