/* Center the div with the class "table" horizontally */
table {
    margin: 0 auto;
    width: 50%; /* You can adjust the width as needed */
    text-align: center; /* Optional: Center text within the div */
}

/* Center the text in the table headers (th) */
th, h2 {
    text-align: center;
}

/* Apply other styles to the table, table headers, and table data cells */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

/* Align text in table data cells to the left */
td {
    text-align: left;
}

tr, td, table [data-hred] {
    cursor: pointer;
}

.container {
    background-color: #white; /* Replace with your desired background color */
    padding: 20px; /* Adjust the padding as needed */
    max-width: 210mm;
    margin: 0 auto;
}

.table {
    background-color: white;
    padding: 20px;
}


body {
    font-family: "Publico Text", serif;
    background-color: rgb(16, 24, 32);
    margin: 0;
    padding: 0;
}
