/* serviceskjema.css */
/*body {
    font-family: "Publico Text", serif;
    /*background-color: rgb(16, 24, 32);
    margin: 0;
    padding: 0;
}*/

.form-container {
    max-width: 210mm;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: white;
}   

.form-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

label {
    font-weight: bold;
}

/* Consolidate input selectors */
input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 0; /* Set border radius to 0 for square corners */
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-col {
    flex-basis: 48%;
}

.divider {
    border: none;
    border-top: 1px solid #000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#agreement,
#repairDescription,
#usedParts {
    width: 208%; /* You can adjust the width value as needed */
}

/* Center the button horizontally and vertically */
.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button, .tick {
    display: flex;
    justify-content: center;    
    align-items: center;
    font-family: sans-serif;
}

.button {
    width: 150px;
    height: 50px;
    margin-top: 15px;
    margin-left: 105px;
    background: mediumseagreen;
    border-radius: 6px;
    font-size: 16px;
    transition: all .3s cubic-bezier(0.67, 0.17, 0.40, 0.83);
}

.button__circle {
    width: 100px;
    height: 100px;
    background: darkgreen;
    border-radius: 50%;
    transform: rotate(-180deg);
    margin-left: 130px;
}

.button, .tick {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.button svg {
    transform: rotate(180deg);
    transition: all .5s;
}

.button:hover {
    cursor: pointer;
    background-color: darkgreen;
}


.tick {
    color: white;
    font-size: 2em;
    transition: all .5s;
}

