/* Add this style to the container */
.container-order {
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Apply styles to the entire body */
body {
    font-family: "Publico Text", serif;
    /*background-color: rgb(16, 24, 32);*/
    margin: 0;
    padding: 0;
}

/* Style for the table headers */
th {
    background-color: #3498db;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
}

/* Center the div with the class "table" horizontally */
table {
    margin: 0 auto;
    width: 50%; /* You can adjust the width as needed */
    text-align: center;
}

/* Center the text in the table headers (th) */
th, h2 {
    text-align: center;
}

/* Apply other styles to the table, table headers, and table data cells */


/* table bottom line */
table tbody tr:last-of-type {
    border-bottom: 2px solid #3498db;
}

/* Align text in table data cells to the left */
td {
    text-align: left;
}

tr, td, table [data-href] {
    cursor: pointer;
}

input[type="text"] {
    width: autos%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Style for links within the table */
tr[data-href] {
    cursor: pointer;
    text-decoration: underline;
    color: #3498db;
}
