@model bacit_dotnet.MVC.Models.SignOut.SignOutViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logg ut</title>
</head>
<h1>Logg ut</h1>
<body>
<div>
    <h2>Trykk på knappen for å logge ut</h2>
    <form>
        <a asp-controller="LogIn" asp-action="Index"><button type="button" class="btn btn-primary">Logg ut</button></a>
    </form>
</div>
</body>
</html>
