@model bacit_dotnet.MVC.Models.SignOut.SignOutViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logg ut</title>
</head>
<h1>Logg ut</h1>
<body>
<div>
    <h2>Trykk på knappen for å logge ut</h2>
    <form>
        <input type="button" onclick="location.href = 'https://localhost:7064/';" value="Logg ut"/>
    </form>
</div>
</body>
</html>
