@model bacit_dotnet.MVC.Models.LogIn.LogInViewModel;

@{
    //ViewData["Title"] = "Log In";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Logg Inn</title>
</head>
<body>
<div>
    <h2>Trykk på knappen for å logge inn</h2>
    <form>
        <input type="button" onclick="location.href = 'https://localhost:7064/Home/';" value="Logg Inn"/>
    </form>
</div>
</body>
</html>