<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logg Inn</title>
    <link rel="stylesheet" href="/css/login.css">
    <style>
        .form-group {
            margin-bottom: 15px;
        }

        .button-container {
            margin-top: 20px;
            display: flex;
            gap: 10px;
        }

        /* Styling for the buttons */
        .button-container button, 
        .btn-primary {
            flex: 1;
            background-color: #003380; /* Set your preferred color here */
            color: white; /* Set the text color to contrast with the background color */
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div>
    <h2>Logg inn</h2>
    <form asp-controller="Account" asp-action="Login" method="post">
        <div class="form-group">
            <label for="Email">Email:</label>
            <input name="Email" class="form-control" placeholder="Skriv inn Email" />
        </div>

        <div class="form-group">
            <label for="Password">Passord:</label>
            <input name="Password" type="password" class="form-control" style="margin-bottom: 10px;" placeholder="Skriv inn passord" />
        </div>

        <button type="submit" class="btn-primary">Logg inn</button>
    </form>

    <div class="button-container">
        <form action="/Register/Index">
            <button type="submit" class="btn-primary">Register an account</button>
        </form>
        <a href="/Home/Index"><button type="button" class="btn-primary">Gå til hovedside</button></a>
    </div>
</div>
</body> 
</html>
