@model bacit_dotnet.MVC.Models.LogIn.LogInViewModel;

@{
    ViewData["Title"] = "Log Inn";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logg Inn</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div>
    <h2>Log Inn</h2>
    <form asp-controller="Account" asp-action="Login" method="post">
        <div class="form-group">
            <label asp-for="Email">Epost:</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password">Passord:</label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Logg inn</button>
    </form>
    
    <form>
        <a asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-primary">Gå til hovedside</button></a>
    </form>
</div>
</body> 
</html>
