@model bacit_dotnet.MVC.Models.LogIn.LogInViewModel;

@{
    ViewData["Title"] = "Log In";
}

<!DOCTYPE html>

<html>
<head>
    <title>Logg Inn</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div>
    <h2>Trykk på knappen for å logge inn</h2>
    <form>
        <a asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-primary">Logg Inn</button></a>
    </form>
</div>
</body>
</html>