<form  asp-action="save" asp-controller="users" method="post">
    <ul>
        <li>
            <label for="Title">Navn</label>
            <input type="text" name="Name" />
        </li>
        <li>
            <label for="Name">Passord</label>
            <input type="password" name="Password" />
        </li>
        <li>
            <label for="Team">Email</label>
            <input type="email" name="Email" />
        </li>
        <li>
            <label for="Description">Beskrivelse</label>
            <input type="text" name="EmployeeNumber" />
        </li>
        <li>
            <label for="TimeStamp">Tidspunkt</label>
            <input type="text" name="Team" />
        </li>
        <li>
            <label for="TimeStamp">Role</label>
            <input type="Text" name="Role" />
        </li>
        <li>
            <input type="submit" value="Lagre" />
        </li>
    </ul>
</form> 