@{
    ViewData["Title"] = "Privacy";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logg inn</title>
    <link rel="stylesheet" href="css/privacy.css">    
</head>

<body>
<h2>Privacy Policy</h2>

    <p>This Privacy Policy outlines how we collect, use, and protect your personal information. By using Reficio, you consent to the practices described in this Privacy Policy. Please read this document carefully to understand our privacy practices.</p>
    
    <p>1. Information We Collect:<br>
    Personal Information: We may collect personal information, such as your name, email address, and other contact details, when you voluntarily provide it to us.<br>
    Non-Personal Information: We also collect non-personal information, including but not limited to your IP address, browser type, and device information.</p>
    
    <p>2. How We Use Your Information:<br>
    We use the information collected to provide and improve our services, communicate with you, and ensure the security and integrity of our website/app.</p>
    
    <p>3. Sharing Your Information:<br>
    We will not sell, rent, or share your personal information with third parties without your explicit consent.</p>
    
    <p>4. Cookies and Tracking:<br>
    We may use cookies and similar tracking technologies to enhance your experience on [Your Website/App] and for analytics purposes.</p>
    
    <p>5. Security Measures:<br>
    We employ reasonable security measures to protect your personal information from unauthorized access, disclosure, or alteration.</p>
</body>
</html>