@model bacit_dotnet.MVC.Models.ServiceOrder.ServiceOrderViewModel

<h1>Saksnummer @Model.ServiceOrderId</h1>

@foreach(var jobGroup in Model.JobGroups)
{
    <h3>@jobGroup.Name</h3>
    <ul>
    @foreach (var group in jobGroup.Jobs)
    {
        <li>
            @group <input type="checkbox">
        </li>
    
    }
    </ul>
}