@model bacit_dotnet.MVC.Models.ServiceOrder.ServiceOrderViewModel


<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ServiceOversikt</title>
      <link rel="stylesheet" href="/css/Serviceorders.css">
</head>

<body>
    <div class="container">
        <div class="table">
            <h2>Ordreoversikt</h2>
            <table>
                <thead>
                    <tr>
                        <th colspan="2">ServiceOrdrer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-href="https://www.youtube.com/watch?v=6BdKUO2QbA0">
                        <td>dato</td>
                        <td>.....</td>
                    </tr>
                    <tr data-href="">
                        <td>Ordrenummer</td>
                        <td>...</td>
                    </tr>
                    <tr data-href="">
                        <td>kunde</td>
                        <td>......</td>
                    </tr>
                    <tr data-href="">
                        <td>Status</td>
                        <td>....</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const rows = document.querySelectorAll("tr[data-href]");

            rows.forEach(row => {
                row.addEventListener("click", () => {
                    window.location.href = row.dataset.href;
                });
            });
        });
    </script>
</body>
</html>
