/* Dette er den gamle view komponenten for ServiceOrder også kalt serviceordrer i navbar */


@model bacit_dotnet.MVC.Models.ServiceOrder.ServiceOrderViewModel

@{
    ViewData["Title"] = "ServiceOrder";
}

<h1>Ordrer @Model.ServiceOrderId</h1>

@foreach(var orderGroup in Model.ServiceOrderId)
{
    <h3>@orderGroup.Name</h3>
    <ul>
        @foreach (var group in orderGroup.Jobs)
        {
            <li>
                @group <input type="checkbox">
            </li>
    
        }
    </ul>
}